[expander]
sendmail_path: /usr/sbin/sendmail

; or absolute path to log file
log: syslog

;Mailbox format
;mailbox: /var/tmp/roles-mailbox
mailbox: /var/spool/mail/zope
also_send_to: envcoord
no_owner_send_to: ccpie.ccim@health.fgov.be

;no-reply email address
no-reply: no-reply@eea.europa.eu


# roles containing this string will be skipped if not sent to directly
#filter_str: -gb
# only apply the filter to roles starting with:
#roles_to_filter: test,test2


[ldap]
ldap_server: ldap://127.0.0.1:386
users_dn: ou=Users,ou=DATA,ou=america,o=IRCusers,dc=CIRCA,dc=local
roles_dn: ou=DATA,ou=america,o=IRCroles,dc=CIRCA,dc=local
encoding: utf-8
user_dn: 
user_pw: 
