<html>
    <head>
    </head>

    <body>
        <p>
            Hello,
        </p>

        <p>
            Your email to <strong>{{role_email}}</strong> could not be
            delivered because the role <strong>{{role_id}}</strong> has
            been deactivated.
        </p>

        <p>
            No members will receive your message. If you believe this is
            an error, please contact the role owner or the administrator.
        </p>
        <br />

        <p>
            Have a great day,
            <br />
            Belgian Environmental Coordination
        </p>
    </body>
</html>
